.main-chat
  .main-header
    .main-header__group
      .main-header__group__name 
        = 
      %ul.main-header__member__list 
        Member:
        %li.main-header__member
          kimika
    %a.main-header__edit__button{ href: '#' } Edit

  .message
    = render @messages

  .footer
    = form_with model: [@group, @message], html: {class: "footer__form"}, local: true do |f|
      .footer__form__box
        = f.text_field :content, class: 'footer__form__box__input__text', placeholder: 'type a message'
        = f.label :image, class: 'footer__form__box__input__image' do
          = icon('far', 'image', class: 'footer__icon')
          = f.file_field :image, class: 'footer__form__box__input__image__hidden'
      = f.submit 'Send', class: 'submit-btn'