.side-bar
  .side-header
    .side-box__list
      %h3.side-box__list__username
        = current_user.name
      %ul.side-box__list__icon__list
        %li.side-box__list__icon
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.side-box__list__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .groups
    .group
      = link_to '#' do
        .group__name TECH::Kagawa
        .group__message 眠いな(_ _).｡o○
