.side-bar
  .side-header
    .side-box__list
      %h3.side-box__list__username
        = current_user.name
      %ul.side-box__list__icon__list
        %li.side-box__list__icon
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.side-box__list__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name 
            = group.name
          .group__message 
            メッセージはまだありません